
*{
    background-size: 100%;
    max-width: auto;
    margin: 0%;
    padding: 0%;
}

:root{
--index-background:url("img/tncblue.jpg");
}

.welcome {
    background-image: var(--index-background);
    width: 100%;
} 

header{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 5% 10%;
}

.navbar li{
    font-size: 30px;
    display: inline-block;
    padding: 0px 45px;
}

.navbar li a{
    transition: all 1.5s ease 0.3s;
}

.navbar li a:hover{
    transition: all 0s;
    color: cornflowerblue;
}

a{
   color: bisque;
}

.welcome, .aboutme, .contact, .column, .projects, .mypersonalproject, .myschoolproject{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: scale(1);  
}

.container{
    overflow: hidden;
} 

.column img{
    width: 100px;
    border-radius: 45%;
    box-shadow: black -12px 10px 10px;
}
.column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.column .left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 100px;
    animation-name: moveleft;
    animation-duration: 2s;
}

.column .right{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 100px;
    animation-name: moveright;
    animation-duration: 2s;
}

@keyframes moveleft{
    from{
        transform: translateX(700px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveright{
    from{
        transform: translateX(-700px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.projects{
    background-image: var(--index-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 10%;
    overflow: hidden;
}

h1{
    margin-left: 25%;
    color: whitesmoke;
}

.projects .myproject button{
    background-image: url("img/myproject.jpg");
}

.projects .trainingproject button{
    background-image: url("img/trainingproject.jpg");
}

button {
    margin-left: 20%;
    margin-right: 20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    height: 201px;
    width: 201px;
    cursor: pointer;
    font-size: 10px;
    gap: 1fr;
    border: 1px solid rgb(31, 5, 5);
    width: 1fr;
    box-shadow: black -10px 15px 10px;
    border-radius: 45%;
    padding:1%;
}

.mypersonalproject {
    background-image: url("img/education2.jpeg");
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0%;
    min-height: 960px;
}

.personalproject{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 30px;
    margin: 20%;
    margin-top: 10%;
    margin-bottom: 3%;
}

.myschoolproject {
    background-image: url("img/education2.jpeg");
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0%;
    min-height: 960px;
}

.schoolproject{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.personalproject img, .schoolproject img{
    padding:1%;
    width: 70%;
    border-radius: 10%;
}

.schoolproject .tasklist{
    width: 60%;
}

.aboutme{
    background-image: url('img/multilanguage.jpeg');
    min-height: 900px;
  
}

.aboutme .aboutmetext{
    text-align: center;
    font-size: 36px;
    letter-spacing: 4px;
    background-color: transparent;
    color: bisque;
    padding: 10%;

}

.contact{
    background-image: var(--index-background);
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
}

.contacttext, h2{
    text-align: center;
    font-size: 27px;
    letter-spacing: 3px;
    background-color: transparent;
    color: whitesmoke;
    padding: 7%;
}

.form-control{
    width: 41%;
    background:transparent;
    border:none;
    outline:none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    background-color: transparent;
    height: 45px;
    outline: none;
}

form .id{
    cursor: pointer;
}

::placeholder{
    color: whitesmoke;
    size: 15px;
    letter-spacing: 2px;
}

.message, .name, .email{
    color: whitesmoke;
}

.submit{
    background-color: teal;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10%;
    transition: 0.4s ease;
    border-bottom: none;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    img{
        max-width: 320px;
    }

    .container{
        width: 100%;
    }

    .column img{
        width: 50%;
    }

    .myproject button, .trainingproject button{
        width: 50%;
        height: 70px;
        width: 70px;
    }
    
    .personalproject, .schoolproject{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }

    h1{
        font-size: 100%;
        width: 50px;
    }

    .contact{
        width: 100%;
    }
    .contacttext, .li{
        margin: auto;
        font-size: 100%;
        width: 50%;
    }
}




















