* {
    background-size: 100%;
    max-width: auto;
    margin: 0%;
    padding: 0%;
}

:root {
    --index-background: url("img/tncblue.jpg");
}

.welcome {
    background-image: var(--index-background);
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 5% 10%;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 0px 45px;
    transition: all 1.5s ease 0.3s;
}

.line::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(192, 183, 183);
    transition: width .3s;
}

.line:hover::after {
    width: 100%;
    transition: width .3s;
}

.navbar li a:hover {
    transition: all 1s;
    color: rgb(192, 183, 183);
}

.welcome,
.aboutme,
.contact,
.column,
.projects,
.mypersonalproject,
.mytrainingproject {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: scale(1);
}

.container {
    overflow: hidden;
}

.column img {
    width: 100px;
    border-radius: 45%;
    box-shadow: black -12px 10px 10px;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
    position: relative;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.column .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 100px;
    animation-name: moveleft;
    animation-duration: 2s;
}

.column .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 100px;
    animation-name: moveright;
    animation-duration: 2s;
}

@keyframes moveleft {
    from {
        transform: translateX(700px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveright {
    from {
        transform: translateX(-700px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.projects {
    background-image: var(--index-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 10%;
    overflow: hidden;
}

h1 {
    margin-left: 25%;
    color: whitesmoke;
}

.myprojectbutton img,
.trainingbutton img {
    margin-left: 20%;
    margin-right: 20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 201px;
    width: 201px;
    cursor: pointer;
    font-size: 10px;
    gap: 1fr;
    border: 1px solid rgb(31, 5, 5);
    width: 1fr;
    box-shadow: black -10px 15px 10px;
    border-radius: 45%;
}

.mypersonalproject {
    background-image: url("img/TextureBlue.jpg");
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0%;
    min-height: 960px;
}

.personalproject {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 50px;
    margin: 20%;
    margin-top: 10%;
}

.mytrainingproject {
    background-image: url("img/education2.jpeg");
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0%;
    min-height: 960px;
}

.trainingproject {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

.personalproject img,
.trainingproject img {
    padding: 1%;
    width: 70%;
    border-radius: 10%;
}

.trainingproject .tasklist {
    width: 60%;
}

.aboutme {
    background-image: url('img/TextureBlue.jpg');
    min-height: 900px;
}

.aboutmetext {
    text-align: center;
    font-size: 36px;
    letter-spacing: 4px;
    background-color: transparent;
    color: bisque;
    padding: 10%;
}

.aboutmetext a {
    color: rgb(122, 74, 74);
    text-decoration: none;
}

.aboutmetext a:hover {
    text-decoration: underline;
    transition: 1s;
    color: whitesmoke;
}

.contact {
    background-image: var(--index-background);
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
}

.contacttext,
h2 {
    text-align: center;
    font-size: 27px;
    letter-spacing: 3px;
    background-color: transparent;
    color: whitesmoke;
    padding: 7%;
}

.form-control {
    width: 41%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    background-color: transparent;
    height: 45px;
    outline: none;
}

form .id {
    cursor: pointer;
}

::placeholder {
    color: whitesmoke;
    size: 15px;
    letter-spacing: 2px;
}

.message,
.name,
.email {
    color: whitesmoke;
}

.submit {
    background-color: teal;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10%;
    transition: 0.4s ease;
    border-bottom: none;
    cursor: pointer;
}

@media screen and (max-width:600px) {
    img {
        max-width: 320px;
    }
    .container {
        width: 100%;
    }
    .column img {
        width: 50%;
    }
    .myprojectbutton img,
    .trainingbutton img {
        width: 30%;
        height: 70px;
        width: 70px;
    }
    .personalproject,
    .trainingproject {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: none;
    }
    h1 {
        font-size: 100%;
        width: 50px;
    }
    .contact {
        width: 100%;
    }
    .contacttext,
    .li {
        margin: auto;
        font-size: 100%;
        width: 50%;
    }
}

:root {
    --main-opacity: 1;
}

.schooldatabase,
.mywebsite,
.patientportal,
.schoolmanagementsystem,
.schooladmin,
.petclinic,
.jokeapp,
.vendingmachine,
.tasklist,
.tictactoe,
.parkingticket,
.onlineshop {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlayschooldatabase,
.overlaymywebsite,
.overlaypatientportal,
.overlayschoolmanagementsystem,
.overlayschooladmin,
.overlaypetclinic,
.overlayjokeapp,
.overlayvendingmachine,
.overlaytasklist,
.overlaytictactoe,
.overlayparkingticket,
.overlayonlineshop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 72%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(104, 100, 100);
    border-radius: 10%;
}

.schooldatabase:hover .overlayschooldatabase {
    opacity: var(--opacity);
}

.mywebsite:hover .overlaymywebsite {
    opacity: var(--opacity);
}

.patientportal:hover .overlaypatientportal {
    opacity: var(--opacity);
}

.schoolmanagementsystem:hover .overlayschoolmanagementsystem {
    opacity: var(--opacity);
}

.schooladmin:hover .overlayschooladmin {
    opacity: var(--opacity);
}

.petclinic:hover .overlaypetclinic {
    opacity: var(--opacity);
}

.jokeapp:hover .overlayjokeapp {
    opacity: var(--opacity);
}

.vendingmachine:hover .overlayvendingmachine {
    opacity: var(--opacity);
}

.tasklist:hover .overlaytasklist {
    opacity: var(--opacity);
}

.tictactoe:hover .overlaytictactoe {
    opacity: var(--opacity);
}

.parkingticket:hover .overlayparkingticket {
    opacity: var(--opacity);
}

.onlineshop:hover .overlayonlineshop {
    opacity: var(--opacity);
}

.text {
    color: whitesmoke;
    font-size: 23px;
    letter-spacing: 1px;
    row-gap: 1px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}